*,
html {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	color: #efdbff;
	min-width: 320px;
	border-radius: 55px;
	background: linear-gradient(192deg, #08000c 8.79%, #530279 351.02%);
	min-height: 100vh;
}

.container {
	padding: 0 18px;
}

input {
	outline: none;
	border: none;
}

li {
	list-style: none;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	outline: none;
}

a,
button,
input,
textarea {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

@media (min-width: 375px) {
	.logo {
		display: block;
		padding: 38px 0 20px;
	}

	.logo p {
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		font-size: 22px;
		text-transform: uppercase;
		background: linear-gradient(#e2b0ff, #9f44d3);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #0b2349;
		display: table;
		margin: 0 auto;
	}
	.welcome {
		margin-bottom: 20px;
		margin-top: 15px;
	}

	.welcome__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
	}
	.welcome__user {
		display: flex;
		align-items: center;
	}
	.welcome__user-img {
		margin-right: 15px;
	}

	.welcome__user-name {
		color: #efdbff;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 1px;
	}
	.welcome__user-text {
		color: #efdbff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		-webkit-text-stroke-width: 1;
		-webkit-text-stroke-color: #000;
		font-family: Montserrat;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
	}
	.balance {
		margin-bottom: 30px;
	}

	.balance__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px 15px 14px 22px;
		border-radius: 14px;
		background: #140123;
		border-radius: 14px;
		background: #140123;
		box-shadow: 0px 1px 40px 0px rgba(124, 62, 225, 0.03) inset,
			0px 4px 18px 2px rgba(154, 146, 210, 0.25) inset;
		backdrop-filter: blur(50px);
	}
	.balance__amount {
		color: #efdbff;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 600;
	}
	.balance__btn {
		color: #202020;
		font-family: Montserrat;
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		padding: 10px 30px;
		border-radius: 26px;
		border: 0.5px solid #be97ff;
		background: linear-gradient(107deg, #6f35ce 17.48%, #d7d7d7 183.37%);
		box-shadow: 0px 2px 43px 0px rgba(170, 32, 255, 0.76);
	}
	.block-title {
		color: #dcdcdc;
		font-family: Montserrat;
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
	}

	.about {
		margin-bottom: 30px;
	}

	.about__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 1;
	}

	.price {
		margin-right: 18px;
		position: relative;
		z-index: 20;
		padding: 13px 3px 85px 70px;
		border-radius: 14px;
		border: 0.5px solid #7d607a;
		background: linear-gradient(319deg, #571a73 8.44%, #c076b4 98.21%);
		box-shadow: 0px 4px 57.3px 0px #703083;
		position: relative;
		overflow: hidden;
	}

	hr{
		display: block;
		margin: 20px 0 0;
	}

	.price__img {
		position: absolute;
		z-index: 2;
		left: -50px;
		top: -8px;
		border-radius: 14px;
		width: 110%;
		height: 100%;
		object-fit: cover;
	}

	.price__title:after {
		content: '';
		position: absolute;
		background-image: url('../images/price-decor.svg');
		background-repeat: no-repeat;
		width: 47px;
		height: 50px;
		bottom: 15px;
		right: 15px;
	}

	.price,
	.cases {
		width: 160px;
	}

	.cases {
		padding: 68px 66px 30px 10px;
		border-radius: 14px;
		border: 0.5px solid #613b9e;
		background: linear-gradient(180deg, #381b68 0%, #6f35ce 100%);
		box-shadow: 0px 4px 57.3px 0px #5d2cac;
		position: relative;
		z-index: 3;
		overflow: hidden;
	}

	.cases:hover,
	.cases:focus {
		box-shadow: 0px 4px 65.3px 0px #b414ff inset;
	}

	.cases__img {
		width: 131px;
		height: 131px;
		position: absolute;
		right: -25px;
		bottom: 0;
		object-fit: cover;
	}

	.cases__title:before {
		content: '';
		position: absolute;
		background-image: url('../images/cases-decor.svg');
		background-repeat: no-repeat;
		width: 44px;
		height: 48px;
		top: 12px;
		left: 8px;
	}
	.services {
		position: relative;
		display: block;
		margin-bottom: 30px;
	}

	.services__title {
		padding: 18px 0 80px 15px;
		border-radius: 14px;
		border: 0.5px solid #7d607a;
		background: linear-gradient(297deg, #3b1c6d -4.62%, #6830b7 98.79%);
		box-shadow: 0px 4px 57.3px 0px #592899;
		color: #d3ced5;
		position: relative;
		overflow: hidden;
	}

	.services__title span {
		color: #ad00ff;
	}

	.services__title::after {
		content: '';
		position: absolute;
		background-image: url('../images/services-decor.png');
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		object-fit: cover;
		left: 0;
		top: 0;
	}

	@keyframes moveUpAstro {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(10px);
		}
	}

	.services__img {
		animation: moveUpAstro 4s infinite alternate;
		position: absolute;
		z-index: 3;
		min-width: 270px;
		max-height: 187px;
		object-fit: cover;
		right: 15px;
		top: -25px;
	}
	.reviews {
		position: relative;
		display: block;
		margin-bottom: 100px;
	}

	.reviews__img {
		position: absolute;
		z-index: 3;
		width: 290px;
		height: 135px;
		object-fit: cover;
		left: -7px;
		bottom: -15px;
		z-index: 1;
	}
	.reviews__title {
		text-align: right;
		padding: 15px 15px 95px 0;
		border-radius: 14px;
		border: 0.5px solid #7d607a;
		background: linear-gradient(354deg, #571277 -5.69%, #aa80b9 195.19%);
		box-shadow: 0px 4px 57.3px 0px #6d5175;
		position: relative;
		overflow: hidden;
	}

	.reviews__title span {
		color: #cc99ff;
	}

	.reviews__title::after {
		content: '';
		position: absolute;
		background-image: url('../images/stars.svg');
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		top: 10px;
		left: 0;
		transform: translateX(10%);
		object-fit: cover;
	}
	.nav {
		position: fixed;
		z-index: 10;
		bottom: 20px;
		left: 0;
		right: 0;

		/* margin-bottom: 38px; */
	}
	.nav__inner {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		border-radius: 28px;
		border: 1px solid #502695;
		background: rgba(0, 0, 0, 0.01);
		box-shadow: 0px 4px 222.8px 0px #780ffe,
			0px 1px 40px 0px rgba(78, 26, 105, 0.58) inset,
			0px 4px 18px 0px rgba(154, 146, 210, 0.17) inset;
		backdrop-filter: blur(10.050000190734863px);
		padding: 14px 42px;
		width: 290px;
		margin: 0 auto;
	}
	.nav__link {
		display: block;
		position: relative;
	}

	.nav__link:focus path,
	.nav__link:active path {
		fill: #a56fff;
	}

	.nav__link:focus::after,
	.nav__link:active::after {
		content: '';
		position: absolute;
		border-radius: 18px;
		background: #a56fff;
		height: 2px;
		width: 25px;
		bottom: -5px;
		left: 0;
		right: 0;
	}

	.nav__link:focus:last-child::after,
	.nav__link:active:last-child:after {
		transform: translateX(-11%);
	}

	.nav__link + .nav__link {
		margin-left: 37px;
	}
}

@media (min-width: 410px) {
	.price,
	.cases {
		width: 175px;
	}

	.price__img {
		top: -7px;
	}

	.price {
		padding: 13px 3px 85px 85px;
	}

	.cases__img {
		right: -12px;
	}

	.reviews__title::after {
		transform: translateX(20%);
	}
}

@media (min-width: 420px) {
	.price,
	.cases {
		width: 185px;
	}
	.price__img {
		top: -6px;
	}
	.price {
		padding: 13px 3px 85px 90px;
	}
	.cases {
		padding: 68px 66px 30px 13px;
	}
	.cases__img {
		right: -10px;
	}
	.services__img {
		min-width: 300px;
		max-height: 185px;
	}
}
