*,
html {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	color: #efdbff;
	min-width: 320px;
	border-radius: 55px;
	background: linear-gradient(192deg, #08000c 8.79%, #530279 351.02%);
	height: 100vh;
}

.container {
	padding: 0 18px;
	/* margin: 0 auto; */
}

input {
	outline: none;
	border: none;
}

li {
	list-style: none;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	outline: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a, button, input, textarea { 
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none; 
    user-select: none; 
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

@media (min-width: 375px) {
	.logo {
		display: block;
		padding: 38px 0 20px;
	}

	.logo p {
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		font-size: 22px;
		text-transform: uppercase;
		background: linear-gradient(#e2b0ff, #9f44d3);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #0b2349;
		display: table;
		margin: 0 auto;
	}
	.welcome {
		margin-bottom: 20px;
	}

	.welcome__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
	}
	.welcome__user {
		display: flex;
		align-items: center;
	}
	.welcome__user-img {
		margin-right: 15px;
	}

	.welcome__user-name {
		color: #efdbff;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 1px;
	}
	.welcome__user-text {
		color: #efdbff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		-webkit-text-stroke-width: 1;
		-webkit-text-stroke-color: #000;
		font-family: Montserrat;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
	}
	.balance {
		margin-bottom: 30px;
	}

	.balance__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px 15px 14px 22px;
		border-radius: 14px;
		background: #140123;
		border-radius: 14px;
		background: #140123;
		box-shadow: 0px 1px 40px 0px rgba(124, 62, 225, 0.03) inset,
			0px 4px 18px 2px rgba(154, 146, 210, 0.25) inset;
		backdrop-filter: blur(50px);
	}
	.balance__amount {
		color: #efdbff;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 600;
	}
	.balance__btn {
		color: #202020;
		font-family: Montserrat;
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		padding: 10px 30px;
		border-radius: 26px;
		border: 0.5px solid #be97ff;
		background: linear-gradient(107deg, #6f35ce 17.48%, #d7d7d7 183.37%);
		box-shadow: 0px 2px 43px 0px rgba(170, 32, 255, 0.76);
	}
	.block-title {
		color: #dcdcdc;
		font-family: Montserrat;
		font-size: 23px;
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
	}
	.block__wrapper {
		display: flex;
		flex: 1;
	}

	.about {
		margin-bottom: 38px;
	}

	.about__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 1;
	}

	.price {
		margin-right: 18px;
	}
	.price__title {
		padding: 15px 3px 95px 80px;
		border-radius: 14px;
		border: 0.5px solid #7d607a;
		background: linear-gradient(319deg, #571a73 8.44%, #c076b4 98.21%);
		box-shadow: 0px 4px 57.3px 0px #703083;
		position: relative;
	}

	.price__title::before {
		content: '';
		position: absolute;
		background-image: url('../images/price.png');
		width: 138px;
		height: 146px;
		background-repeat: no-repeat;
		top: 0;
		left: 0;
		border-radius: 14px;
	}

	.price__title:after {
		content: '';
		position: absolute;
		background-image: url('../images/price-decor.svg');
		background-repeat: no-repeat;
		width: 47px;
		height: 50px;
		bottom: 15px;
		right: 5px;
	}

	.price,
	.cases {
		width: 160px;
	}
	.cases__title {
		padding: 68px 66px 40px 10px;
		border-radius: 14px;
		border: 0.5px solid #613b9e;
		background: linear-gradient(180deg, #381b68 0%, #6f35ce 100%);
		box-shadow: 0px 4px 57.3px 0px #5d2cac;
		position: relative;
		z-index: 3;
	}

	.cases__title:after {
		content: '';
		position: absolute;
		background-image: url('../images/cases.png');
		background-repeat: no-repeat;
		width: 120px;
		height: 131px;
		bottom: 0;
		right: 0;
		border-radius: 14px;
	}
	.cases__title:before {
		content: '';
		position: absolute;
		background-image: url('../images/cases-decor.svg');
		background-repeat: no-repeat;
		width: 44px;
		height: 48px;
		top: 15px;
		left: 8px;
	}
	.services {
	}

	.services__title {
		padding: 18px 0 93px 15px;
		border-radius: 14px;
		border: 0.5px solid #7d607a;
		background: linear-gradient(297deg, #3b1c6d -4.62%, #6830b7 98.79%);
		box-shadow: 0px 4px 57.3px 0px #592899;
		position: relative;
	}

	.services__title span {
		color: #ad00ff;
	}

	.services__title::after {
		content: '';
		animation: moveUpAstro 6s infinite alternate;
		position: absolute;
		background-image: url('../images/services.png');
		background-repeat: no-repeat;
		width: 265px;
		height: 185px;
		right: 20px;
		top: -15px;
	}

	@keyframes moveUpAstro{
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(35px);
		}
	}
	.services__title::before {
		content: '';
		position: absolute;
		background-image: url('../images/services-decor.png');
		background-repeat: no-repeat;
		width: 282px;
		height: 180px;
		left: 0;
		top: 0;
	}
}
