.main {
    background-color: black;
    min-height: 100vh;
}

.container {
    padding: 5px 18px;
}

a, button, input, textarea { 
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none; 
    user-select: none; 
}


.user {
    color: #E2BDFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 76px;
    margin-bottom: 62px;
}

.social__box {
    max-width: 347px;
    display: flex;
    align-items: center;
    border-radius: 103px;
    border: 1.7px solid #8b2f92;
    padding: 26px 36px;
    margin-bottom: 18px;
    background: #000;
    box-shadow: 0px 0px 38.5px 7px #290A33 inset;
}

.soc__logo {
    margin-right: 13px;
}



.social__name {
    color: #EFDBFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    margin-right: auto;
}


.main__user-img {
    max-width: 372px;
}


.nav {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    left: 0;
    right: 0;

    /* margin-bottom: 38px; */
}
.nav__inner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 28px;
    border: 1px solid #502695;
    background: rgba(0, 0, 0, 0.01);
    box-shadow: 0px 4px 222.8px 0px #780ffe,
        0px 1px 40px 0px rgba(78, 26, 105, 0.58) inset,
        0px 4px 18px 0px rgba(154, 146, 210, 0.17) inset;
    backdrop-filter: blur(10.050000190734863px);
    padding: 14px 42px;
    width: 290px;
    margin: 0 auto;
}
.nav__link {
    display: block;
    position: relative;
}

.nav__link:focus path,
.nav__link:active path {
    fill: #a56fff;
}

.nav__link:focus::after,
.nav__link:active::after {
    content: '';
    position: absolute;
    border-radius: 18px;
    background: #a56fff;
    height: 2px;
    width: 25px;
    bottom: -5px;
    left: 0;
    right: 0;
}

.nav__link:focus:last-child::after,
.nav__link:active:last-child:after {
    transform: translateX(-11%);
}

.nav__link + .nav__link {
    margin-left: 37px;
}
