body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: #000;
}

.logo {
	text-shadow: 73px 4px 250px #fc57c9;
	font-family: 'Montserrat';
	font-size: 36px;
	font-style: normal;
	font-weight: 800;
	line-height: 26px; /* 72.222% */
	text-align: center;

	background: linear-gradient(to right, rgba(80, 0, 108, 1)
 20%, rgba(140, 27, 179, 1)
 40%, rgba(220, 124, 253, 1)
 60%, rgba(233, 117, 243, 1)
 80%);
	background-size: 200% auto;

	color: #000;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: shine 1s linear infinite;
}

@keyframes shine {
	to {
		background-position: 200% center;
	}
}

.loader {
	height: 4px;
	border-radius: 5px;
	display: inline-block;
	position: fixed;
	z-index: 10;
	bottom: 0px;
	left: 0px;
	background: #5c3765;
	overflow: hidden;
	width: 100%;
}
.loader::after {
	content: '';
	position: fixed;
	z-index: 10;
	left: 0px;
	border-radius: 5px;
	height: 4px;
	background: #bf3cdf;
	animation: loader_anim 5s linear infinite;
}

@keyframes loader_anim {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
